@media screen and (max-width: 1350px) {
  .inner {
    max-width: 1250px;
    padding: 0 25px;
  }
  /* header */
  .header .logo {
    left: 30px;
  }
  .header nav {
    left: 17%;
  }
  .header .gnb li {
    margin-right: 25px;
  }
  .header .user_menu {
    display: none;
  }
  .header .mobile {
    display: block;
  }
  /* main */
  /* footer */
}

@media screen and (max-width: 1150px) {

}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  
}